<div class="container my-3">



    <div class="text-center text-light m-5 bg-color">
        <h2 id="servicios" class=" fs-1"><i class="bi bi-hand-index-thumb"></i> UNIVERSIDADES</h2>
    </div>

    <div class="container">

        <div class="text-light text">
            <p>
                Mucha gente alrededor del mundo se pregunta lo siguiente: ¿por qué gastar tanto dinero y esfuerzo para ir a estudiar al extranjero? Existen un montón de estudios realizados por universidades y grandes compañías en los que se enfatiza sobre la importancia
                de la experiencia internacional y efectos positivos que esto adhiere a tu currículum. En el mundo competitivo y globalizado en que vivimos, la experiencia de vida, contacto cultural y especialización son elementos que te darán una ventaja
                sobre el resto y que cada vez los empleadores valoran más. Diseñamos está página para darte una idea de que lugares podrías tener en mente para tus próximos estudios.
            </p>

        </div>


        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>

            <div class="carousel-inner">

                <div class="carousel-item active">

                    <div class="container-fluid  text-center">
                        <div class="row">

                            <div class="col-4 card  py-4 bg-transparent">
                                <img src="https://images.pexels.com/photos/6727621/pexels-photo-6727621.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-light">UNIVERSIDAD DE ROMA</h5>
                                    <p class="card-text text-light">Situada en la capital Italiana y una de las mejores en el ranking mundial.</p>
                                    <a href="#" class="btn btn-outline-light btn-servicios">Más</a>
                                </div>
                            </div>
                            <div class="col-4 card  py-4 bg-transparent">
                                <img src="https://images.pexels.com/photos/6727611/pexels-photo-6727611.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-light">UNIVERSIDAD DE FLORENCIA</h5>
                                    <p class="card-text text-light">Situada en una ciudad con grandes historias y arte.</p>
                                    <a href="#" class="btn btn-outline-light  btn-servicios">Más</a>
                                </div>
                            </div>
                            <div class="col-4 card  py-4 bg-transparent">
                                <img src="https://images.pexels.com/photos/5654111/pexels-photo-5654111.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-light">UNIVERSIDAD DE PISA</h5>
                                    <p class="card-text text-light">¿Te suena la torre inclinada de Pisa? Cerca a Roma encuentra una de las mejores universidades en arte.</p>
                                    <a href="#" class="btn btn-outline-light btn-servicios">Más</a>
                                </div>
                            </div>


                        </div>

                    </div>

                </div>
                <div class="carousel-item">
                    <div class="container-fluid text-center">

                        <div class="row">

                            <div class="col-4 card  py-4 bg-transparent">
                                <img src="https://images.pexels.com/photos/3646172/pexels-photo-3646172.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-light">UNIVERSIDAD DE VENECIA</h5>
                                    <p class="card-text text-light">La romantica venecia es pionera en Ingenieria.</p>
                                    <a href="#" class="btn btn-outline-light btn-servicios">Más</a>
                                </div>
                            </div>
                            <div class="col-4 card  py-4 bg-transparent">
                                <img src="https://images.pexels.com/photos/11932192/pexels-photo-11932192.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-light">UNIVERSIDAD DE PADUA</h5>
                                    <p class="card-text text-light">Pionera en investigación y arte.</p>
                                    <a href="#" class="btn btn-outline-light btn-servicios">Más</a>
                                </div>
                            </div>
                            <div class="col-4 card  py-4 bg-transparent">
                                <img src="https://images.pexels.com/photos/6727617/pexels-photo-6727617.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-light">POLITECNICO DE TURIN</h5>
                                    <p class="card-text text-light">Quieres ser el mejor en nanotecnologia y microcomponentes, el politecnico es tu mejor opción.</p>
                                    <a href="#" class="btn btn-outline-light btn-servicios">Más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <!--  <span class="carousel-control-prev-icon py-0" aria-hidden="true"></span>-->
            <span class="visually-hidden">Previous</span>
          </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>




</div>