<div class="container text-center my-4 ">
    <div class="container">
        <h1 class="container">INFORMACION DERECHOS DE AUTOR</h1>

    </div>
    <div class="card mb-3 my-4 bg-transparent">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://avatars.githubusercontent.com/u/100388472?v=4" class="img-fluid rounded-float-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body bg-transparent">
                    <h1 class="card-title ">S. VANNESA CIFUENTES BOHÓRQUEZ</h1>
                    <p class="card-text my-4 ">Ingeniera Electrónica, con especialización en Telecomunicaciones de la Universidad Pedagógica y Tecnológica de Colombia. Cuento con experiencia en el área de soporte y desarrollo de aplicaciones bancarias sobre sistemas IBM/iSeries
                        AS400, ejecutando procedimientos de mejora y solución rápida y efectiva sobre fallos en la aplicación y base de datos del CORE SIIF, también cuento con experiencia en atención al cliente remota y en sitio. Durante este tiempo he
                        adquirido conocimiento en lenguajes de programación C, C++, Java, JavaScript, RPGLE, HTML, CSS y el lenguaje de consulta SQL..
                    </p>

                    <a class="text" href="https://github.com/svannesa">  Mira mi trabajo en:   <i class="bi bi-github"></i></a>

                </div>
            </div>
        </div>

    </div>