<div class="footerPersonalizado">

    <footer class="container-fluid bg-dark py-5 text-center text-light  ">

        <div class="container pt-4">

            <p class=" text-light"> Ponte en contacto con nosotros atrevés de las siguientes redes:</p>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/svannesa_/" role="button"><i class="bi bi-instagram"></i ></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/96vannesacifuentes/" role="button"><i class="bi bi-linkedin"></i
          ></a>
            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/svannesa" role="button"><i class="bi bi-github"></i
          ></a>

        </div>


        <div class="text-center p-4 text-white">
            © 2022 Copyright:
            <a class="text-reset fw-bold" href="https://www.linkedin.com/in/96vannesacifuentes/">Vannesa Cifuentes</a>
        </div>

    </footer>

</div>