<div class="container">

    <mat-card class="example-card ">
        <mat-card-header>
            <mat-card-title>DONACIONES A ESTUDIANTES DE BAJOS RECURSOS</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="img" src="https://images.pexels.com/photos/5905470/pexels-photo-5905470.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="u">
        <mat-card-content>
            <p class="texto">
                ¿Te gustaría apoyar la educación de más jóvenes? Fundación Beca lleva más de 15 años formando jóvenes de clase mundial. Súmate a la campaña para apoyar a jóvenes que desean continuar con sus estudios. ¡No importa el monto, lo valioso es tu generosidad
                y confianza!
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button><i class="bi bi-heart-fill"></i> LIKE  </button>
            <button mat-button><i class="bi bi-share-fill"></i> SHARE </button>
        </mat-card-actions>
    </mat-card>


</div>